<a href="https://colab.research.google.com/github/Danilotolini/Danilao/blob/main/panda_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np
#from google.colab import files
#files.upload()

td = pd.read_csv("titanic_data.csv")
td.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [10]:
#td.drop(["PassengerId","Name","Ticket","Cabin"],axis=1,inplace=True)
print(td.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
# Exibindo a média por classe
print(td.groupby('Pclass').mean())


# Criando função para inserir idade faltante
def insert_age(cols):
    Age = cols[0]
    Pclass = cols[1]

    if pd.isnull(Age):
        if Pclass == 1:
            return 38
        elif Pclass == 2:
            return 30
        else:
            return 25
    else:
        return Age


# Aplicando a função ao dataFrame td
td['Age'] = td[['Age','Pclass']].apply(insert_age,axis=1)






# Fare
fare_median = td['Fare'].median()
td['Fare'].fillna(fare_median, inplace=True)


# Embarked
embarked_top = td['Embarked'].value_counts()[0]
td['Embarked'].fillna(embarked_top, inplace=True)

        PassengerId  Survived        Age     SibSp     Parch       Fare
Pclass
1        461.597222  0.629630  38.233441  0.416667  0.356481  84.154687
2        445.956522  0.472826  29.877630  0.402174  0.380435  20.662183
3        439.154786  0.242363  25.140620  0.615071  0.393075  13.675550

<ipython-input-12-f6f04e577b83>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(td.groupby('Pclass').mean())